*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 13px 2px #99999959;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
/* .hambarger{
} */
.hambarger{
    position: absolute;
    right: 5%;
    top: 18px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 101;
}
.hambarger ion-icon{
    font-size: 3rem;
}
.hambarger:hover ion-icon{
    color: #00d2ff;
}
.navigation .logo {
    padding-left: 5%;
}
.navigation .logo img{
    width: 100px;
}
.navbar{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    padding-right: 5%;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar .nav li{
    margin: 0 15px;
}
.navbar .nav li a{
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
    transition: 0.3s color;
}
.navbar .nav li a:hover{
    color: #5290cd;
}
.navbar .getInTouch li{
    padding: 7px 20px;
    margin-left: 15px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 30px;
}
.navbar .getInTouch li:hover{
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    transition: 1s;
}
.navbar .getInTouch li a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ---------hero-section------- */
#hero-section{
    height: 90vh;
    display: grid;
    place-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    max-width: 1100px;
}
.hero-text{
    flex: 1;
}
.hero-text h1{
    font-size: 4rem;
    color: #2C3A47;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Zilla Slab', serif;
}
.hero-text h1 span{
    color: #5290cd;
}
.hero-text p{
    font-size: 1.4rem;
    color: #555;
    margin: 20px 0;
}
.common-btn a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 8px 20px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 30px;
    font-weight: 400;
}
.common-btn a:hover{
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    transition: 1s;
}
.hero-img{
    flex: 1;
}
.hero-img img{
    width: 100%;
}
/* ---------hero-section------- */

/* ---------about------- */
#about{
    background: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#about .container{
    gap: 100px;
    align-items: center;
}
.about-img{
    flex: 1;
    text-align: center;
    position: relative;
    bottom: 0;
}
.about-img img{
    width: 100%;

}
.about-text{
    flex: 1;
    height: 100%;
    position: relative;
    top: -50px;
}
.about-text h1{
    font-size: 4rem;
    color: #2C3A47;
}
.about-text p{
    font-size: 1.5rem;
    color: #555;
    margin: 20px 0;
}
/* ---------about------- */

/* -----------recipies-------- */
#recipies{
    padding: 70px 0;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h1{
    font-size: 3rem;
    color: #2C3A47;
}
.section-title p{
    font-size: 1.5rem;
    color: #777;
    margin-top: 10px;
}
#recipies .container{
    gap: 25px;
    margin-bottom: 25px;
}
.col{
    flex: 1;
    padding: 15px 15px 25px;
    box-shadow: 0px 0px 10px 1px #999;
    border-radius: 20px;
}
.col img{
    width: 100%;
    border-radius: 20px;
}
.col h1{
    font-size: 1.9rem;
    color: #5290cd;
    margin: 10px 0;
}
.col p{
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 20px;
}
/* -----------recipies-------- */

/* ----------followers-------- */
#followers{
    padding: 30px 0 100px;
}
#followers .container{
    gap: 50px;
}
.follower-col {
    flex: 1;
    box-shadow: 0px 0px 20px 2px #5290cd82;
    text-align: center;
    padding: 40px 0;
    border-radius: 10px;
}
.follower-col:hover{
    box-shadow: 0px 0px 20px 2px #5290cd;
}
.follower-col h1{
    font-size: 4rem;
    color: #2C3A47;
    font-weight: 500;
}
.follower-col p{
    font-size: 1.5rem;
    color: #3a47d5;
    font-weight: 400;
}
/* ----------followers-------- */

/* ---------contact-------- */
#contact{
    height: 80vh;
    background: url(images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 40px;
}
#contact .section-title{
    margin-bottom: 40px;
}
.contact-form{
    flex: 1;
    text-align: center;
}
.contact-form form input,
.contact-form form textarea{
    width: 60%;
    padding: 10px;
    outline: none;
    border: 1px solid #fd4b2f6b;
    margin: 8px 0;
    color: #2C3A47;
    font-size: 1.4rem;
}
.contact-form form textarea::placeholder{
    font-size: 1.4rem;
    font-family: 'Popping', sans-serif;
}
.contact-form form input[type = "submit"]{
    width: 20%;
    display: block;
    margin-left: 18%;
    background: linear-gradient(90deg, #fb974c 0%, #fd4c2f 100%);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.contact-form form input[type = "submit"]:hover{
    background: linear-gradient(90deg, #fd4c2f 0%, #fb974c 100%);
}
.contact-img{
    flex: 1;
    width: 80%;
    text-align: center;
    position: relative;
    top: -20px;
}
.contact-img img{
    width: 80%;
}
/* ---------contact-------- */

/* -----------footer-------- */
footer{
    padding: 20px 0 50px;
    text-align: center;
    background: #2C3A47;
}
footer h1{
    font-size: 3rem;
    color: #999;
    font-weight: 500;
}
footer h1 span{
    color: #5290cd;
}
footer p{
    color: #ffffff6c;
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin-top: 10px;
}
/* -----------footer-------- */


/* --------responsive-design--------- */
@media(max-width:1024px){
    #hero-section{
        height: auto;
        margin: 100px 0;
    }
    #about{
        height: auto;
    }
    #contact{
        height: auto;
    }
}
@media(max-width:850px){
    .navbar{
        justify-content: center;
        z-index: 90;
    }
    .navbar .nav{
        display: block;
        position: fixed;
        right: -200px;
        top: 70px;
        background: #fff;
        box-shadow: 0px 10px 10px 1px rgba(153, 153, 153, 0.37);
        width: 200px;
        transition: 0.3s ease-in-out;
    }
    .navbar .nav.show{
        right: 0px;
    }
    .navbar .nav ul{
        z-index: -1;
    }
    .navbar .nav li{
        padding: 10px 0;
    }
    .hambarger{
        display: flex;
    }
    .navbar .nav.show{
        right: 0px;
    }
}
@media(max-width:768px){
    #hero-section{
        padding: 50px 0;
    }
    #hero-section .hero-img{
        margin-bottom: 50px;
    }
    #hero-section .container{
        flex-direction: column-reverse;
    }
    .container{
        flex-direction: column;
    }
    #about{
        height: auto;
        padding: 100px 0;
    }
    #about .about-img{
        display: none;
    }
    #about .about-text{
        top: 0;
    }
    .follower-col {
        width: 60%;
    }
    #contact{
        height: auto;
    }
    #contact .container{
        flex-direction: column-reverse;
    }
    .contact-form{
        width: 100%;
        margin-top: 50px;
    }
    .contact-img{
        flex: 1;
        width: 100%;
        top: 0px;
    }
    .contact-img img{
        width: 100%;
    }
    .contact-form form input,
    .contact-form form textarea{
    width: 90%;

    }
    html{
        font-size: 50%;
    }
    .navbar{
        width: 90%;
    }
    .navbar .getInTouch li{
        padding: 5px 15px;
        margin-left: 10px;
    }
    .navigation .logo {
        padding-left: 2%;
    }
    .navigation .logo img{
        width: 80px;
    }
    .hambarger{
        right: 2%;
        top: 20px;
        width: 30px;
        height: 30px;
    }
    .hambarger ion-icon{
        font-size: 2.5rem;
    }
    .contact-form form input[type = "submit"]{
        width: 30%;
        margin-left: 4%;
    }
}
/* --------responsive-design--------- */