*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0px 0px 13px 2px #99999959;
}
.navigation .logo img{
    width: 100px;
}
.navbar{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar .nav li{
    margin: 0 15px;
}
.navbar .nav li a{
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
    transition: 0.3s color;
}
.navbar .nav li a:hover{
    color: #5290cd;
}
.navbar .getInTouch li{
    padding: 7px 20px;
    margin-left: 15px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 30px;
}
.navbar .getInTouch li:hover{
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    transition: 1s;
}
.navbar .getInTouch li a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ---------hero-section------- */
#hero-section{
    min-height: 90vh;
    display: grid;
    place-items: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.hero-text{
    flex: 1;
}
.hero-text h1{
    font-size: 4rem;
    color: #2C3A47;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Zilla Slab', serif;
}
.hero-text h1 span{
    color: #5290cd;
}
.hero-text p{
    font-size: 1.4rem;
    color: #555;
    margin: 20px 0;
}
.common-btn a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 7px 20px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 30px;
    font-weight: 400;
}
.common-btn a:hover{
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    transition: 1s;
}
.hero-img{
    flex: 1;
}
.hero-img img{
    width: 100%;
}
/* ---------hero-section------- */

/* ---------about------- */
#about{
    height: 80vh;
    background: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#about .container{
    gap: 100px;
    align-items: center;
}
.about-img{
    flex: 1;
    text-align: center;
    position: relative;
    bottom: 0;
}
.about-img img{
    width: 100%;

}
.about-text{
    flex: 1;
    height: 100%;
    position: relative;
    top: -50px;
}
.about-text h1{
    font-size: 4rem;
    color: #2C3A47;
}
.about-text p{
    font-size: 1.5rem;
    color: #555;
    margin: 20px 0;
}
/* ---------about------- */

/* -----------recipies-------- */
#recipies{
    padding: 70px 0;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h1{
    font-size: 3rem;
    color: #2C3A47;
}
.section-title p{
    font-size: 1.5rem;
    color: #777;
    margin-top: 10px;
}
#recipies .container{
    gap: 25px;
    margin-bottom: 25px;
}
.col{
    flex: 1;
    padding: 15px 15px 25px;
    box-shadow: 0px 0px 10px 1px #999;
    border-radius: 20px;
}
.col img{
    width: 100%;
    border-radius: 20px;
}
.col h1{
    font-size: 1.9rem;
    color: #5290cd;
    margin: 10px 0;
}
.col p{
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 20px;
}
/* -----------recipies-------- */